Repository kubernetes/cloud-provider-aws, pull requests merged in 2024-10, with the labels that each got.

#1032 Release 1.31.1
  version.txt
Labels: approved, cncf-cla: yes, lgtm, size/XS, release-note-none, needs-kind, triage/accepted

#1033 Bump go mod version
  .ko.yaml
  Dockerfile
  cloudbuild.yaml
  go.mod
  hack/e2e/run.sh
  tests/e2e/go.mod
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, kind/cleanup, ok-to-test, triage/accepted

#1034 Bump go mod version
  .ko.yaml
  Dockerfile
  cloudbuild.yaml
  go.mod
  hack/e2e/run.sh
  tests/e2e/go.mod
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, kind/cleanup, ok-to-test, needs-triage

#1035 Bump go mod version
  .ko.yaml
  Dockerfile
  cloudbuild.yaml
  go.mod
  go.sum
  hack/e2e/run.sh
  tests/e2e/go.mod
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, kind/cleanup, ok-to-test, needs-triage

#1037 Bump go mod version
  .ko.yaml
  Dockerfile
  go.mod
  go.sum
  hack/e2e/run.sh
  tests/e2e/go.mod
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, kind/cleanup, ok-to-test, needs-triage

#1038 Add network topology information to nodes (continued)
  docs/prerequisites.md
  pkg/providers/v1/aws.go
  pkg/providers/v1/aws_ec2.go
  pkg/providers/v1/aws_fakes.go
  pkg/providers/v1/aws_test.go
  pkg/providers/v1/iface/types.go
  pkg/providers/v1/instances_v2.go
  pkg/providers/v1/instances_v2_test.go
  pkg/providers/v1/topology.go
  pkg/providers/v1/topology_test.go
  pkg/providers/v1/well_known_labels.go
  tests/e2e/nodes.go
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/L, release-note, ok-to-test, needs-triage

#1039 Updates ecr SDK to v2 SDK
  cmd/ecr-credential-provider/main.go
  cmd/ecr-credential-provider/main_test.go
  go.mod
  go.sum
  pkg/mocks/mock_ecr.go
Labels: approved, cncf-cla: yes, lgtm, size/L, release-note-none, kind/cleanup, triage/accepted
