Repository kubernetes/cloud-provider-aws, pull requests merged in 2025-08, with the labels that each got.

#1225 Release 1.34 rc.0
  version.txt
Labels: approved, cncf-cla: yes, lgtm, size/XS, release-note-none, needs-kind, ok-to-test, needs-triage

#1223 Remove potential nil ptr dereferences
  pkg/providers/v1/aws_fakes.go
  pkg/providers/v1/aws_loadbalancer.go
  pkg/providers/v1/aws_loadbalancer_test.go
Labels: approved, kind/bug, cncf-cla: yes, lgtm, size/M, release-note-none, ok-to-test, needs-triage

#1229 Automated cherry pick of #1223: remove nil ptr dereference
  pkg/providers/v1/aws_fakes.go
  pkg/providers/v1/aws_loadbalancer.go
  pkg/providers/v1/aws_loadbalancer_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, needs-kind, ok-to-test, needs-triage

#1230 fix: update instance types requiring topology labels
  pkg/providers/v1/topology.go
  pkg/providers/v1/topology_test.go
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/S, release-note-none, ok-to-test, needs-triage

#1241 Automated cherry pick of #1207: fix: rule difference for nested objects
  pkg/providers/v1/sets_ippermissions.go
  pkg/providers/v1/sets_ippermissions_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, needs-kind, ok-to-test, needs-triage

#1235 Automated cherry pick of #1230: fix: update instance types requiring topology labels
  pkg/providers/v1/topology.go
  pkg/providers/v1/topology_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, needs-kind, ok-to-test, needs-triage

#1236 Automated cherry pick of #1230: fix: update instance types requiring topology labels
  pkg/resourcemanagers/topology.go
  pkg/resourcemanagers/topology_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, needs-kind, ok-to-test, needs-triage

#1238 Automated cherry pick of #1230: fix: update instance types requiring topology labels
  pkg/providers/v1/topology.go
  pkg/providers/v1/topology_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note-none, needs-kind, ok-to-test, needs-triage

#1243 Update go dependencies with 1.34.0
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M, release-note-none, needs-kind, ok-to-test, needs-triage
